* {
	font-family: 'Trebuchet MS';
	cursor: default;
	/*text-align: center;*/
}

#all-inputs {
	margin-top: 3em;
}

#all-inputs > div {
  text-align: center;
  margin: 1em;
}

.output {
	font-size: 3em;
	margin: 1em;
}

input {
	width: 3em;
	cursor: auto;
}

input[invalid] {
	background-color: #FFCCCC;
}

#div[hidden] {
	display: none;
}

#calc-link-sidebar {
	position: absolute;
	top: 0px;
	left: 0px;
	user-select: none;
}

#calc-link-sidebar a {
	text-decoration: none;
	color: #000;
}

#calc-link-sidebar div {
	padding: 1em;
	border-radius: 0.5em;
	margin: 0.5em;
	text-align: center;
}

#hp-calc-link div {
	background-color: #FCC;
}

#failrate-calc-link div {
	background-color: #BBF;
}

h1 {
	text-align: center;
	margin-top: 2em;
}




