* {
	font-family: 'Trebuchet MS';
	/*text-align: center;*/
}

#all-inputs {
	margin-top: 5em;
}

#all-inputs > div {
  text-align: center;
  margin: 1em;
}

.output {
	font-size: 3em;
	margin: 1em;
}

input {
	width: 3em;
}

input[invalid] {
	background-color: #FFCCCC;
}

#div[hidden] {
	display: none;
}

#hp-calc-link {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 1em;
	background-color: #FCC;
	border-radius: 0.5em;
	margin: 0.5em;
	user-select: none;
}